html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	box-sizing: border-box;
	font-family:"Times New Roman", Times, Serif;
	font-weight:normal;
	font-size:25px;
}



a {
	color: blue !important;
	text-decoration: none;
}

a:hover{
	color: blue;
	text-decoration: none;
	border-bottom:1px blue solid;
}

a:visited{
	color:black;
	text-decoration: none;
}

.footnote-sup{
	color:blue;
	cursor:pointer;
	font-size:15px;
	margin-top:-5px;
}

.footnote {
	color:#333;
	max-height:0px;
	overflow: hidden;
  	opacity: 0;
  	font-size:15px;
  	padding-left:60px;
  	max-width:70%;
}

.show {
	opacity:1;
	max-height:500px;
	transition: max-height 1.5s ease, opacity 1s ease;
}


img {
	width:100%;
}

.initiate-treat {
	animation: blinkers .5s forwards;
	-webkit-animation: blinkers .5s infinite; 
	-moz-animation:    blinkers .5s infinite; 
	-o-animation:      blinkers .5s infinite; 

}

@keyframes blinkers {
	0% { opacity: 0; }
	25% { opacity: 1;}
	50% { opacity: 0; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes blinkers {
	0% { opacity: 0; }
	25% { opacity: 1;}
	50% { opacity: 0; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}


@-moz-keyframes blinkers {
	0% { opacity: 0; }
	25% { opacity: 1;}
	50% { opacity: 0; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}


@-o-keyframes blinkers {
	0% { opacity: 0; }
	25% { opacity: 1;}
	50% { opacity: 0; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}


#facts {
	margin:0;
	width:100vw;
}

ul.dashed {
    list-style: none;
    padding-left: 0;
    
    margin:0;
    padding-top: 30px;
    padding-right:30px;
}

ul.dashed > li {
    margin-left: 30px;  
}

ul.dashed > li::before {
    content: "–";
    margin-left: -15px;
}

#work {
	padding-bottom:20px;
	text-align:right;
	color:black;
}

#work:hover {
	color:blue;
	cursor:pointer;
}

#work:visited {
	color:black;
	cursor:pointer;
}

#card {
	position:relative;
	text-align:left;
	width:95%;
	padding-bottom:20px;
	pointer-events:all;
	cursor:pointer;
}

#contact {
	padding-top:20px;
}

.container {
	width: 100%;
	display:flex;
	flex-direction: row;
	position:relative;
	top:0;
	left:0;
	margin:10px;
}

.header {
	margin:0;
	position:absolute;
	width:100%;
	background:#fff;
	z-index:3;
	top:0;
	left:0;
	height:300vh;
}

.header p {
	margin:0;
	
}

.slide-left {
    left: -81vw;
    transition: left .3s ease;
}

.slide-right{
    	left: 0;
    	transition: left .3s ease;
}

#projects {
	width:95%;
	padding-left:0;
	margin:0;
}

.title {
	margin-left:60px;
	max-width:400px;
}

.year {
	font-size:15px;
	margin-top:10px;
}

.desc {
	margin-bottom:50px;
	max-width: 700px;
	padding-right:30px;
}

.desc p {
 	margin: 0;
 	text-indent: 60px;
}

 .desc p:first-of-type {
    text-indent: 0;
}

 .spotlight {
 	color:blue;
 	cursor:pointer;
 }

 .spotlight:hover {
 	color:blue;
	border-bottom:1px blue solid;
	cursor:pointer;
 }


#vert {
	min-height:70vh;
	height:auto;
}

#horz{
	min-height:300px;
	width:100%;
}

#vid {
	min-height:300px;
	height:auto;
	width:95%;
}

.main-img {
	position:relative;
	background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    cursor:pointer;
    padding-right:10px;
}

.single-img {
	position:relative;
	background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    cursor:pointer;
    padding-right:10px;
}

.single-mov {
	position: relative;
}

video {
	position:absolute;
	left:0;
	bottom:0;
}

.main-gif {
	width:100%;
	background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom; 
    cursor:pointer;
}

@media screen and (min-width: 720px) {

		.header {
			height:300vh;
		}

		.footnote-sup{
			font-size:20px;
		}

		body {
			font-size:30px;
		}

		#horz{
			min-height:50vh;
			width:95%;
		}

		#vid {
			min-height:50vh;
			height:auto;
			max-width:900px;

		}

		#vert {
			min-height:100vh;
			height:auto;
		}

		.title {
			margin-left:60px;
		}
		

		#projects {
			padding-left:25%;

		}

		.footnote {
			max-width:500px;
		}


		.main-img {

		}

		.main-gif {
		}

		ul.dashed {
			max-width:70vw;
    		padding-top: 72px;
		}


		#card {
		position:absolute;
		top:10px;
		right: 20px;
		width:20%;

		}

		#facts{
		width:50vw;
		/*margin-top: 89px;*/
		padding-right:60px;

		}

		.slide-left {
    	left: -77vw;
    	}

}


@media screen and (min-width: 1340px) {

		ul.dashed {
			max-width:50vw;
		}

		#horz{
			min-height:80vh;
		}




}
