@font-face {
    font-family: "juni";
    src: url("../fonts/Junicode-Regular.woff") format('woff');
}


@font-face {
    font-family: "juni-bold";
    src: url("../fonts/Junicode-Bold.woff") format('woff');
}

@font-face {
    font-family: "juni-boldital";
    src: url("../fonts/Junicode-BoldItalic.woff") format('woff');
}

@font-face {
    font-family: "juni-ital";
    src: url("../fonts/Junicode-Italic.woff") format('woff');
}

html, body {
    max-width: 100%;
    //overflow-x: hidden;
}

body {
	box-sizing: border-box;

	ul {
		list-style-type: none; 
		margin: 0;
		padding: 0;
	}

    p {
    	margin: 0 auto;
    }

    a {
    	color: blue;
    	text-decoration: none;
    	
    	&:hover {
    		border-bottom: 1px solid blue;
    		cursor: pointer;
    	}

    	&:visted {
    		color: gray;
    	}


    }
}


//---type 

body {
	font-family: 'juni', times new roman;
	font-weight:normal;
	font-size: 1.2rem;
    line-height: 1.1;
    color: #000000;

    @media screen and (min-width: 720px) {
    	font-size: 1.3rem;
    }
}

.main {
	.projects {
		.project {
			.details {
				p {
					font-size: 1rem;
				}
				padding-bottom: 1rem;
			}

			.title {
				p {
					//margin-left: 3rem;
					font-family: "juni-ital";
					max-width: 350px;
					margin: 0;
				}
			}

			.desc{
				p {
					text-indent: 3rem;	
					max-width: 700px;
					text-align: left;
					margin-left: 0;
					em {
						font-family: "juni-ital";
					}

				}

			}




		}
	}
}

//---layout



.main {
	width: calc(100% - 40px);
	margin: 3rem auto 0;

	#bonusmaterial {
		z-index: 5;
		width: 100%;
		margin: 3rem 0 3rem 0;

		#facts {
			ul.dashed {
			list-style: none;
			padding-left: 0;
			margin:0;
			padding-top: 30px;
			padding-right:30px;
			overflow: hidden;
			@media screen and (min-width: 720px) {
				max-width: 700px;
			}


			}

			ul.dashed > li {
			margin-left: 30px;  
			}

			ul.dashed > li::before {
			content: "–";
			margin-left: -15px;
			}

		}

		

		#close {
			width: 100%;
			text-align: right;
			position: fixed;
			top: 3rem;
			right: 20px;

		}

		#facts {
			//width: calc(100% - 40px);
			margin: 0 auto;

		}

	}


	.projects {
		//height: auto;
		//overflow: initial;
		display: block;

		&.hide {
/*			height: 100vh;
			overflow: hidden;*/
			display: none;
		}

		display: flex;
		flex-direction: column;

		@media screen and (min-width: 720px) {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 20px;
			max-width: 1650px;

			.tiny {
				-ms-grid-column: 10;
				-ms-grid-column-span: 3;
				grid-column: 10 / 13;
			}

			.small {
				-ms-grid-column: 9;
				-ms-grid-column-span: 4;
				grid-column: 9 / 13;
			}

			.medium {
				-ms-grid-column: 4;
				-ms-grid-column-span: 6;
				grid-column: 4 / 11;
			}

			.large {
				-ms-grid-column: 4;
				-ms-grid-column-span: 9;
				grid-column: 4 / 13;
			}

			.full {
				-ms-grid-column: 1;
				-ms-grid-column-span: 12;
				grid-column: 1 / 13;
			}
		}

		.card {
			position: relative;
			z-index: 1;
			padding: 0 0 3rem 0;
			height: 100px;
			text-align: right;
			


			@media screen and (min-width: 720px) {
			text-align: left;
				
				position: sticky;
					-ms-grid-column: 1;
					-ms-grid-column-span: 2;
					grid-column: 1 / 3;
				padding: 0 0 103px 0;
				top: 3rem;

			}

			#emailnugget {
				padding-top: 20px;
			}

			#moreabout {
				padding-top: 20px;
				cursor: pointer;

				&:hover {
					color: blue;
					cursor: pointer;
				}
			}
		}

		.movie {
			position: relative;
			overflow: hidden;
			padding-top: 90%;
		}

		.movie iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100%;
			border: 0;
		}

		.project {
			padding: 0 0 40px 0;
			margin: 0 0 20px 0;
			border-bottom: 1px solid black;
			background: white;
			z-index: 2;
			//position: relative;
			&.introlinks {
				border-bottom: 1px solid transparent;
			}

			
			&:last-of-type {
				border-bottom: 1px solid white;
			}
	

			.still {
				width: 100%;
				img {
					object-fit: contain;
					width: 100%;
				}
			}

			.slider {
				//width: 105%;
				position: relative;
				ul {
					display: flex;
					flex-direction: row;
					padding: 0 0 20px 0;
					margin: 0 auto;
					overflow-x: scroll;
					scroll-snap-type: x mandatory;
					scroll-padding: 50%;
					//overscroll-behavior: contain;
					scrollbar-width: none;
					//touch-action: pan-x;
					//scroll-padding-left: 20px;
  					//scroll-padding-inline-start: 20px;
 					scroll-padding-left: 0px;
  					scroll-padding-inline-start: 0px;
						-webkit-overflow-scrolling: touch;
						-ms-overflow-style: none;
						&:-webkit-scrollbar {
							display: none;
						}

					li {
						scroll-snap-align: center;
						padding: 0 20px 0 0;
						scroll-snap-stop: always;
						flex-shrink: 0;
						scroll-snap-align: start;
						display: flex;
						flex-direction: column;
						width: 300px; //default
						//justify-content: space-between;
						justify-content: flex-end;
						@media screen and (min-width: 720px) {
							width: 500px; //default large-screen override below

							&.horz {
								@media screen and (min-width: 720px) {
									width: 600px;	
								}
								@media screen and (min-width: 1550px) {
									width: 800px;	
								}
							}
						}

						&.video {
							//height: 500px;

							video {
								width: 100%;
								
								object-fit: contain;
							}
						}

						&.housead {
							width: 300px !important;
							@media screen and (min-width: 720px) {
								width: 500px !important;
							}
						}

						&:last-child {
							position: relative;
							&:after {
								position: absolute;
							  	left: 100%;
							  	height: 1px;
							  	width: 20px;
							  	display: block;
							  	content: "";
							}
						}
						.slidedesc {
							display: inline-block;
							text-align: left;
							padding: 0 0 10px 0;
							text-align: left;
							font-size: 1rem;
							margin-left: 0;
							@media screen and (min-width: 720px) {
								width: 70%;
							}
						}
						.more {
							font-size: 2rem;
							@media screen and (min-width: 720px) {
								font-size: 3rem;
							}
						}

						img {
							height: auto;
							object-fit: contain;
							width: 100%;

							@media screen and (min-width: 720px) {
								//width: 500px; //default large-screen override below
							}
						}
					}
				}

				&:after {
					position: absolute;
					width: 100%;
					text-align: right;
					animation: hintright .6s infinite;
					content: "SWIPE ⇢";
					font-size: 1rem;
					bottom: 0;
					right: 6%;					
				}

				.hint {
					width: 100%;
					text-align: right;
					animation: hintright .5s infinite;
				}

			}
			@media screen and (min-width: 720px) {
				margin: 0 0 4rem 0;
				padding: 0;
				border-bottom: 1px solid transparent;
			}

			@media screen and (min-width: 1250px) {
				margin: 0 0 6rem 0;
			}

			.slideroverlay {
				height: 100%;
				position: absolute;
				width: 10%;
				background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 4%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 4%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
				z-index: 3;
				top: 0;
				right: 0;
				pointer-events: none;
			}
		}

	}
}

@keyframes hintright {
	0% { transform: translate(0px, 20px); }
	50% { transform: translate(5px, 20px); }
	100% { transform: translate(0px, 20px); }
}


//custom

#morestuff, 
#newstuff {
	.entry {
		padding: 20px 0 20px 0;
		border-bottom: 1px solid black;
		margin: 1rem 0 1rem 0;

		.desc {
			p {
				text-indent: 0px;

				a {
					cursor: pointer !important;
				}
			}
		}

	}
}

#morestuff {
	.desc {
		p {
			text-indent: 0;
		}
		
	}
	.odell {
		width: 100%;
		height: 250px;
        background: url('../img/morestuff/odell.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;

	}
	.event {
		width: 100%;
		height: 150px;
        background: url('../img/morestuff/conference.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        margin-bottom: 20px;

	}

	.remember {
	    width: 200px;
	    height: 200px;
	    background: url(../img/morestuff/silver-coin.gif);
	    background-size: contain;
	    background-repeat: no-repeat;

	}

	.doggo {
		width: 100%;
		height: 250px;
        background: url('../img/morestuff/emotionalsupportdog.gif');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;

	}

	.porf-buttons {
		display: flex;
		max-width: 300px;
		flex-direction: row;
	}
	.btn-simple { 
		position: relative;
	    width: 50%;
	    height: 150px;
		.clickarea{
		position: absolute;
		cursor: pointer;
		background: rgba(0,0,0,0);
		}  

	    .clickarea {
	        width: 60px;
	        height: 80px;
	        left: 50%;
	        top: 50%;
	        transform: translateX(-50%) translateY(-50%);
	    }
	    &.white {
	        background: url('../img/buttons/simple-white-1.png');
	        background-size: contain;
	        background-repeat: no-repeat;
	        background-position: left;
	        &.on {
	            background: url('../img/buttons/simple-white-3.png'); 
	            background-size: contain;
	            background-repeat: no-repeat;
	                background-position: left;
	        }
	        &.pressed {
				background: url('../img/buttons/simple-white-2.png'); 
				background-size: contain;
				background-repeat: no-repeat;
				background-position: left;
	        }
	    }
	    &.orange {
	        background: url('../img/buttons/simple-orange-1.png');
	        background-size: contain;
	        background-repeat: no-repeat;
	            background-position: left;
	        
	        &.on {
	            background: url('../img/buttons/simple-orange-3.png'); 
	            background-size: contain;
	            background-repeat: no-repeat;
	                background-position: left;
	        }
	        &.pressed {
	            background: url('../img/buttons/simple-orange-2.png'); 
	            background-size: contain;
	            background-repeat: no-repeat;
	            background-position: left;
	        }
	    }
    }    

}



#faq {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 86;
		grid-column: 3 / 9;
	}	
}

#genx {
	position: relative;
	z-index: 3;

	.grafs {
		opacity: .9;
		pointer-events: none;
		position: absolute;
		object-fit: contain;
		img {
			width: 100%;
		}

		&.one {
			width: 350px;
			height: 200px;
			top: -20%;
			left: -15%;
			z-index: 5;
			transform: rotate(-4deg);
		}

		&.two {
			width: 600px;
			height: 200px;
			top: -5%;
			right: 3%;
			transform: rotate(9deg);
			z-index: 4;
		}

		&.three {
			width: 200px;
			height: 200px;
			top: 3%;
			right: 5%;
			z-index: 6;
			transform: rotate(15deg);
		}
	}
}

#louboutin {
	@media screen and (min-width: 720px) {
		margin: 12rem 0 4rem 0;
	}
	@media screen and (min-width: 1250px) {
		margin: 16rem 0 6rem 0;
	}
}

#louboutin, #y2k {
	.movie {
		padding-top: 178%;
		iframe {
			transform: translateY(2px);
		}
	}

}

#illos {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 5;
		-ms-grid-column-span: 8;
		grid-column: 5 / 13;
	}
	.womyn {
		@media screen and (min-width: 720px) {
			width: 600px;
		}
	}
}

#businessweekcovers {
	.slider {
		ul {
			li {
				justify-content: space-between;
				@media screen and (min-width: 1250px) {
					width: 600px;
				}
			}
		}
	}	
	@media screen and (min-width: 720px) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-column: 1 / 13;
	}

	@media screen and (min-width: 1024px) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 10;
		grid-column: 3 / 13;
	}
}


#hannahs {
	.movie {
		padding-top: 77%;
	}
	@media screen and (min-width: 720px) {
		-ms-grid-column: 7;
		-ms-grid-column-span: 6;
		grid-column: 7 / 13;
	}
}

#disposable {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 7;
		-ms-grid-column-span: 6;
		grid-column: 7 / 13;
	}
	.slider {
		li {
			width: 360px;
			@media screen and (min-width: 720px) {
				width: 600px;
			}
			@media screen and (min-width: 1250px) {
				width: 800px;
			}

		}
	}
	
}

#meditation {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;
		grid-column: 1 / 8;
	}

	.movie {
		padding-top: 99%;
	}
}

#howto {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-column: 1 / 13;
	}

	ul {

		li {
			width: 500px;
			@media screen and (min-width: 720px) {
				width: 700px;
			}
			@media screen and (min-width: 1250px) {
				width: 800px;
			}

			&:first-of-type {
				width: 260px;
    			transform: translateY(10px);

				@media screen and (min-width: 720px) {
				    width: 357px;
				}

				@media screen and (min-width: 1250px) {
					width: 408px;
				}

			}
		}

	}
	

}

#powermove {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-column: 1 / 13;
	}

	ul {

		li {
			width: 500px;
			@media screen and (min-width: 720px) {
				width: 700px;
			}
			@media screen and (min-width: 1250px) {
				width: 800px;
			}
		}

	}
	

}

#roadtrip {
	@media screen and (min-width: 720px) {
		-ms-grid-column: 3;
		-ms-grid-column-span: 4;
		grid-column: 3 / 7;
	}
}

#y2k {
	.still {
		transform: translateX(-4%);
	}
}



